@model Backend4.Models.SignUp.SignUpSecondPageViewModel

@{
    ViewBag.Title = "Sign up";
}

<h2>Sign up</h2>

<form asp-action="SignUpCredentials" class="form-horizontal">
    <input type="hidden" asp-for="@Model.FirstName" />
    <input type="hidden" asp-for="@Model.LastName" />
    <input type="hidden" asp-for="@Model.Day" />
    <input type="hidden" asp-for="@Model.Month.Id" />
    <input type="hidden" asp-for="@Model.Month.Name" />
    <input type="hidden" asp-for="@Model.Gender" />
    <input type="hidden" asp-for="@Model.Year" />
    <input type="hidden" asp-for="@Model.IsEverExisted" />

    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input asp-for="Email" type="text" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
                <label asp-for="IsSelected">
                    <input asp-for="IsSelected" />
                    @Html.DisplayNameFor(x => x.IsSelected)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Complete sign up</button>
        </div>
    </div>
</form>