@model Backend4.Models.SignUp.SignUpFirstPageViewModel

@{
    ViewBag.Title = "Sign up";
}

<h2>Sign up</h2>

<form asp-action="SignUp" class="form-horizontal">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label">First name</label>
        <div class="col-md-10">
            <input asp-for="FirstName" type="text" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label">Last name</label>
        <div class="col-md-10">
            <input asp-for="LastName" type="text" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
    </div>
    <div class="form-group form-inline">
        <label class="col-md-2 control-label">Birthday</label>
        <div class="col-md-10 form-inline">
            <label asp-for="Day" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <!--я пытался сделать как с месяцами но я неудачник и также не могу -->
                <select asp-for="Day"   class="form-control">
                    @for (int i = 1; i <= 30; i++)
                    {
                        <option value="@i">@i</option>

                    }
                </select>
                <span asp-validation-for="Day"></span>
            </div>
            <label asp-for="Month" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Month.Id" asp-items="@(new SelectList(ViewBag.AllMonths, "Id", "Name"))" class="form-control">
                </select>
                <span asp-validation-for="Month"></span>
            </div>
            <label asp-for="Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Year" class="form-control">
                    @for (int i = 1980; i <= 2020; i++)
                    {
                        <option value="@i">@i</option>

                    }
                </select>
                <span asp-validation-for="Year"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            
            <div class="radio">
                <label asp-for="Gender" class="col-md-10"> 
                    <input asp-for="Gender" type="radio" value="Male" />
                    <span asp-validation-for="Gender"></span>
                    Male
                </label>
                <label asp-for="Gender" class="col-md-10">
                    <input asp-for="Gender" type="radio" value="Female"   />
                    <span asp-validation-for="Gender" ></span>
                    Female
                </label>
            </div>
            
            
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit"  class="btn btn-primary"  >Sign up</button>
            </div>
        </div>
    </div>
</form>